* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  /* font-size: 0.5vw; */
}

@import url('../node_modules/carbon-components/css/carbon-components.min.css');

.offset-xs-0 {
  margin-left: 0;
}

.offset-xs-1 {
  margin-left: 8.333333%;
}

.offset-xs-2 {
  margin-left: 16.666667%;
}

.offset-xs-3 {
  margin-left: 25%;
}

.offset-xs-4 {
  margin-left: 33.333333%;
}

.offset-xs-5 {
  margin-left: 41.666667%;
}

.offset-xs-6 {
  margin-left: 50%;
}

.offset-xs-7 {
  margin-left: 58.333333%;
}

.offset-xs-8 {
  margin-left: 66.666667%;
}

.offset-xs-9 {
  margin-left: 75%;
}

.offset-xs-10 {
  margin-left: 83.333333%;
}

.offset-xs-11 {
  margin-left: 91.666667%;
}

@media (min-width: 576px) {
  .offset-sm-0 {
    margin-left: 0;
  }
  .offset-sm-1 {
    margin-left: 8.333333%;
  }
  .offset-sm-2 {
    margin-left: 16.666667%;
  }
  .offset-sm-3 {
    margin-left: 25%;
  }
  .offset-sm-4 {
    margin-left: 33.333333%;
  }
  .offset-sm-5 {
    margin-left: 41.666667%;
  }
  .offset-sm-6 {
    margin-left: 50%;
  }
  .offset-sm-7 {
    margin-left: 58.333333%;
  }
  .offset-sm-8 {
    margin-left: 66.666667%;
  }
  .offset-sm-9 {
    margin-left: 75%;
  }
  .offset-sm-10 {
    margin-left: 83.333333%;
  }
  .offset-sm-11 {
    margin-left: 91.666667%;
  }
}

@media (min-width: 768px) {
  .offset-md-0 {
    margin-left: 0;
  }
  .offset-md-1 {
    margin-left: 8.333333%;
  }
  .offset-md-2 {
    margin-left: 16.666667%;
  }
  .offset-md-3 {
    margin-left: 25%;
  }
  .offset-md-4 {
    margin-left: 33.333333%;
  }
  .offset-md-5 {
    margin-left: 41.666667%;
  }
  .offset-md-6 {
    margin-left: 50%;
  }
  .offset-md-7 {
    margin-left: 58.333333%;
  }
  .offset-md-8 {
    margin-left: 66.666667%;
  }
  .offset-md-9 {
    margin-left: 75%;
  }
  .offset-md-10 {
    margin-left: 83.333333%;
  }
  .offset-md-11 {
    margin-left: 91.666667%;
  }
}

@media (min-width: 992px) {
  .offset-lg-0 {
    margin-left: 0;
  }
  .offset-lg-1 {
    margin-left: 8.333333%;
  }
  .offset-lg-2 {
    margin-left: 16.666667%;
  }
  .offset-lg-3 {
    margin-left: 25%;
  }
  .offset-lg-4 {
    margin-left: 33.333333%;
  }
  .offset-lg-5 {
    margin-left: 41.666667%;
  }
  .offset-lg-6 {
    margin-left: 50%;
  }
  .offset-lg-7 {
    margin-left: 58.333333%;
  }
  .offset-lg-8 {
    margin-left: 66.666667%;
  }
  .offset-lg-9 {
    margin-left: 75%;
  }
  .offset-lg-10 {
    margin-left: 83.333333%;
  }
  .offset-lg-11 {
    margin-left: 91.666667%;
  }
}

@media (min-width: 1200px) {
  .offset-xl-0 {
    margin-left: 0;
  }
  .offset-xl-1 {
    margin-left: 8.333333%;
  }
  .offset-xl-2 {
    margin-left: 16.666667%;
  }
  .offset-xl-3 {
    margin-left: 25%;
  }
  .offset-xl-4 {
    margin-left: 33.333333%;
  }
  .offset-xl-5 {
    margin-left: 41.666667%;
  }
  .offset-xl-6 {
    margin-left: 50%;
  }
  .offset-xl-7 {
    margin-left: 58.333333%;
  }
  .offset-xl-8 {
    margin-left: 66.666667%;
  }
  .offset-xl-9 {
    margin-left: 75%;
  }
  .offset-xl-10 {
    margin-left: 83.333333%;
  }
  .offset-xl-11 {
    margin-left: 91.666667%;
  }
}

@media (min-width: 1440px) {
  .bx--col-vl-auto {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
  }
  .bx--col-vl-1 {
    -ms-flex-preferred-size: 8.33333%;
    flex-basis: 8.33333%;
  }
  .bx--col-vl-2 {
    -ms-flex-preferred-size: 16.66667%;
    flex-basis: 16.66667%;
  }
  .bx--col-vl-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
  }
  .bx--col-vl-4 {
    -ms-flex-preferred-size: 33.33333%;
    flex-basis: 33.33333%;
  }
  .bx--col-vl-5 {
    -ms-flex-preferred-size: 41.66667%;
    flex-basis: 41.66667%;
  }
  .bx--col-vl-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
  }
  .bx--col-vl-7 {
    -ms-flex-preferred-size: 58.33333%;
    flex-basis: 58.33333%;
  }
  .bx--col-vl-8 {
    -ms-flex-preferred-size: 66.66667%;
    flex-basis: 66.66667%;
  }
  .bx--col-vl-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
  }
  .bx--col-vl-10 {
    -ms-flex-preferred-size: 83.33333%;
    flex-basis: 83.33333%;
  }
  .bx--col-vl-11 {
    -ms-flex-preferred-size: 91.66667%;
    flex-basis: 91.66667%;
  }
  .bx--col-vl-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }

  .offset-vl-0 {
    margin-left: 0;
  }
  .offset-vl-1 {
    margin-left: 8.333333%;
  }
  .offset-vl-2 {
    margin-left: 16.666667%;
  }
  .offset-vl-3 {
    margin-left: 25%;
  }
  .offset-vl-4 {
    margin-left: 33.333333%;
  }
  .offset-vl-5 {
    margin-left: 41.666667%;
  }
  .offset-vl-6 {
    margin-left: 50%;
  }
  .offset-vl-7 {
    margin-left: 58.333333%;
  }
  .offset-vl-8 {
    margin-left: 66.666667%;
  }
  .offset-vl-9 {
    margin-left: 75%;
  }
  .offset-vl-10 {
    margin-left: 83.333333%;
  }
  .offset-vl-11 {
    margin-left: 91.666667%;
  }
}

@media (min-width: 1600px) {
  .bx--col-xxl-auto {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
  }
  .bx--col-xxl-1 {
    -ms-flex-preferred-size: 8.33333%;
    flex-basis: 8.33333%;
  }
  .bx--col-xxl-2 {
    -ms-flex-preferred-size: 16.66667%;
    flex-basis: 16.66667%;
  }
  .bx--col-xxl-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
  }
  .bx--col-xxl-4 {
    -ms-flex-preferred-size: 33.33333%;
    flex-basis: 33.33333%;
  }
  .bx--col-xxl-5 {
    -ms-flex-preferred-size: 41.66667%;
    flex-basis: 41.66667%;
  }
  .bx--col-xxl-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
  }
  .bx--col-xxl-7 {
    -ms-flex-preferred-size: 58.33333%;
    flex-basis: 58.33333%;
  }
  .bx--col-xxl-8 {
    -ms-flex-preferred-size: 66.66667%;
    flex-basis: 66.66667%;
  }
  .bx--col-xxl-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
  }
  .bx--col-xxl-10 {
    -ms-flex-preferred-size: 83.33333%;
    flex-basis: 83.33333%;
  }
  .bx--col-xxl-11 {
    -ms-flex-preferred-size: 91.66667%;
    flex-basis: 91.66667%;
  }
  .bx--col-xxl-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .offset-xxl-0 {
    margin-left: 0;
  }
  .offset-xxl-1 {
    margin-left: 8.333333%;
  }
  .offset-xxl-2 {
    margin-left: 16.666667%;
  }
  .offset-xxl-3 {
    margin-left: 25%;
  }
  .offset-xxl-4 {
    margin-left: 33.333333%;
  }
  .offset-xxl-5 {
    margin-left: 41.666667%;
  }
  .offset-xxl-6 {
    margin-left: 50%;
  }
  .offset-xxl-7 {
    margin-left: 58.333333%;
  }
  .offset-xxl-8 {
    margin-left: 66.666667%;
  }
  .offset-xxl-9 {
    margin-left: 75%;
  }
  .offset-xxl-10 {
    margin-left: 83.333333%;
  }
  .offset-xxl-11 {
    margin-left: 91.666667%;
  }
}
